
        </div><!--/row-->
        <hr>
        <footer>
            <p>Github for <a href="https://github.com/weiqiang333">Github</a><p>
            <a class="back-to-top" href="#top">返回顶部</a>
        </footer>
   <div><!--/.container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

