{{ define "login.tmpl" }}
    {{ template "head.tmpl" . }}


    <div class="jumbotron">

      <div class="row">
        <div class="col-sm-10 col-md-6">
            <img src="/static/images/GIO-log.svg" alt="...">
            <div class="caption">
              <h3 class="pager">欢迎来到 DevOps！</h3>
              <form class="form-signin" action="/login" method="POST">
                <label for="inputName" class="sr-only">User Name</label>
                <input type="text" name="username" id="inputName" class="form-control" placeholder="User Name" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
              {{ if .Authentication }}
              <h5 class="text-danger">{{ .Authentication }}</h5>
              {{ end }}
            </div><!--div class="caption" end -->
        </div><!--div class="col-sm-10 col-md-6" end-->
      </div>

    </div> <!-- /jumbotron -->


    {{ template "foot.tmpl" . }}
{{ end }}