{{ define "modifyUserPwd.tmpl" }}
    {{ template "head.tmpl" . }}

    <div class="jumbotron">
        <h3>修改用户密码</h3>
        <hr />
        <form id="modifyForm" name="modifyForm">
            <div class="form-group">
                <label class="col-sm-2 control-label">用户</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" id="inputName" value="{{ .user }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="inputPassword" value="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputQRcode" class="col-sm-2 control-label">二次验证</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="qrcode" id="inputQRcode" value="333333">
                </div>
            </div>
        </form>
        <button class="btn btn-default" id="modifyUserPwd">提交修改</button>
    </div><!-- jumbotron -->

    <script>
        var modifyUserPwd = document.querySelector('#modifyUserPwd');
        modifyUserPwd.onclick = function() {
            let modifyForm = document.getElementById('modifyForm');
            let formData = new FormData(modifyForm);
            fetch("/ldapAdmin/modifyUserPwd", {
                body: formData,
                method: 'POST',
            }).then(function(res){
                return res.json()
            }).then(data => {
                alert((data["response"]))
            });
        }
    </script>

    {{ template "foot.tmpl" . }}
{{ end }}
