{{ define "service.tmpl" }}
    {{ template "head.tmpl" . }}

    <div class="page-header">
        <h1>Service</h1>
    </div>

    <div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Server</th>
                <th>Name</th>
                <th>App</th>
                <th>Pillar</th>
                <th>Server Status</th>
                <th>Action</th>
                <th>Service Status</th>
            </tr>
            </thead>
            {{ $response := .response }}
            {{ range $v := .server }}
            <tbody>
            <tr>
                <td>{{ $v.Id }}</td>
                <td>{{ $v.Server }}</td>
                <td>{{ $v.Name }}</td>
                <td>{{ $v.App }}</td>
                <td>{{ $v.Pillar }}</td>
                {{ if $v.Status }}
                <td><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
                {{ else }}
                <td><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></td>
                {{ end }}
                <td>
                    {{ range $v.Services }}
                    {{ . }}
                    <form action="/service?server={{ $v.Server }}&service={{ . }}" method="POST" style="display: inline">
                        <select name="action">
                            <option value="status">status</option>
                            <option value="reload">reload</option>
                            <option value="start">start</option>
                            <option value="stop">stop</option>
                            <option value="restart">restart</option>
                        </select>
                        <input type="submit" value="提交" />
                    </form>
                    </br>
                    {{ end}}
                </td>
                <td>
                    {{ range $v.ServiceStatuss }}
                    {{ . }}</br>
                    {{end}}
                </td>
            </tr>
            </tbody>
            {{ if $v.Action }}
            <tbody>
                <tr>
                    <td colspan="100">
                        <textarea rows="10" cols="180">{{ $response }}</textarea>
                    </td>
                </tr>
            </tbody>
            {{ end }}
            {{ end }}
        </table>
    </div>

    {{ template "base.tmpl" . }}
{{ end }}